@model TermProject_Ead.Models.UserValidation
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sharing Ideas Renetworking Signin</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <script src="~/Scripts/bootstrap.js"> </script>
   
</head>
    
<body>
    
 <nav  class="navbar navbar-default" role="navigation">
        
      <div class="navbar-header">&nbsp &nbsp &nbsp

        @Html.Label("Sharing Ideas Networking ")
     
          </div>
      <div class="span6 offset3 text-right">
    
         @using (Html.BeginForm("Signin", "Home", FormMethod.Post))
         {
               
         @Html.ValidationSummary(true)       
         @Html.Label("Email")
         @Html.EditorFor(m => m.email)
         @Html.ValidationMessageFor(m => m.email)        
         @Html.Label(" Password ") 
         @Html.PasswordFor(m => m.password)
         @Html.ValidationMessageFor(m => m.password)
         
         <button type="submit" class="btn btn-default navbar-btn">Sign in</button>
         }
          </div>
               
     
</nav> 
     
 <div class="container-fluid">
    <div class="row-fluid">
       <div class="span6 offset3 text-center">
       <h4 class="text-center">   </h4>
       <a class="btn btn-success" id="showCaptcha" href="/Home/Signup"> Click here for Signup </a>
      </div>  
    </div>
 </div>

 <div class ="span6 offset3 text-center"> 
     <h3> 
          <br/>
         <lu>
             <li>
         See photos and updates from friends feed
             </li><br/>
              <li>
       Share whats a new ........On your Timeline
              </li>
             <br/>
              <li>
            Share on your friends wall ....... Tag them  
              </li>
           <lu>
      
     </h3>
  </div>
</body>
</html>
